*.jpg
*.mp4
*.pyc
*.pt
*.xlsx
*.pth
yolov8m.onnx
.idea
/lanelines/*.txt
*.pyd
*.png
*.gif
/pyarmor_runtime_000000
*.log
test.json
.vscode
*.ipynb
test.csv
/logs
/ONNX-YOLOv8-Object-Detection/*.txt
/csv
/tar